.project-about {
  width: 650px; 
  float: right;  
  background-color: #eff3f7; 
  border-radius: 4px; 
  margin-bottom: 26px; 
  min-height: 840px;
}

.projects-header {
  font-family: 'fira_sansbook', 
  sans-serif; 
  font-size: 27px; 
  font-weight: 400; 
  color: #3ba8c0;
  padding: 12px 22px; 
  border-bottom: 2px solid #3ba8c0; 
  display: inline-block; 
  margin: 0 0 26px 0;
}

/*Список проектов*/
.my-projects-list {
  list-style: none; 
  margin: 0; 
  padding: 0;
}
.my-projects-item {
  position: relative; 
  width: 183px; 
  display: inline-block; 
  margin: 0 4px 46px 20px; 
  vertical-align: top;
}
.project-image {
  width: 179px; 
  height: 125px; 
  border: 2px solid #3ba8c0; 
  border-radius: 4px;
}
.project-box {
  width: 179px; 
  height: 125px; 
  text-align: center;
}
.project-box {
  display: inline-block; 
  width: 183px; 
  height: 129px; 
  margin: 0; 
  position: relative;
}
.project-wrapper {
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  background-color: rgb(1, 108, 164); 
  filter: alpha(opacity=0); 
  background-color: rgba(1, 108, 164, 0.749); 
  font: 12px 'fira_sansbook'; 
  border-radius: 4px;
  opacity: 0; 
  transition: opacity .3s ease-out;
}
.project-link {
  text-decoration: none; 
  color: #eff3f7; 
  margin-top: 54px; 
  padding: 0 5px; 
  display: inline-block; 
  border: 2.5px solid #eff3f7; 
  border-radius: 4px;
}
.project-out-link {
  font: 13px 'fira_sanslight_italic'; 
  text-decoration: none; 
  color: #3ba8c0;
}
.project-text {
  font: 15px 'fira_sanslight'; 
  text-align: center; 
  line-height: 1.2
}
.project-box:hover .project-wrapper {
  opacity: 1; 
  filter: alpha(opacity=70);
}
/*Добавить проект*/
.add-project {
  border: 1px dashed #3ba8c0; 
  border-radius: 4px; 
  background: #edf8fc url(../img/add-project.png) no-repeat 75px 34px;
}
.add-project-text {
  font: 13px 'fira_sanslight'; 
  color: #3ba8c0; 
  position: absolute; 
  top: 82px; 
  left: 40px;
}
.add-project-link {
  display: block;
}
